.Transaction_Item{
    font-size: 1.3rem;
    text-align: left;
    padding: 1%;
}

.Transaction_Item_Details_Open{
    margin: 1%;
    line-height: 1.7rem;
}
.Transaction_Item_Details_Open span{
    font-weight: bold;
}

.Transaction_Item_Details_Close{
    display: none;
}

.Incoming{
    color: rgb(43, 150, 43);
}
.Outcoming{
    color: rgb(190, 45, 45);
}