.Wrong{
    background-color:rgb(255, 183, 154);
    font-size: 20px;
    padding: 10px;
    color: darkred;
    width: 50%;
    margin: 0 auto;
}

.ToysList_Title {
    width: 95%;
    border-bottom: 2px solid black;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    color: rgb(23, 3, 97);
}
.ToysList_Column_Title {
    text-align: left;
    margin: 0.5% 1%;;
    width: 15%;
    font-size: 1.2rem;
}

.Title {
    background-color: rgb(27, 145, 115);
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: white;
  }

  .ToysList_Button{
      display: flex;
      justify-content: space-around;
      margin: 2%;
  }

  .ToysList_Button button{
    width: 10%;
    padding: 0.3%;
    border: 1px solid rgb(23, 3, 97);
    border-radius: 10px;
    font-weight: bold;
    background-color: teal;
    color: lightyellow;
}
.ToysList_Button button:hover{
    color: black;
}

.Form_Wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0.5%;
}

.Toys_List_Form{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
}

.Toys_List_button{
    margin: 1%;
    margin-left: 50%;
    width: 7%;
    padding: 0.3%;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: teal;
    border: 1px solid rgb(23, 3, 97);
    color: lightyellow;
    font-weight: bold;
}

.Toys_List_button:hover{
    color: black;
}